<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Where's the Changelog?</title>
</head>

<body>

	<h1>Where's the Changelog?</h1>

 <table>
  <thead>
   <tr>
    <th>Package</th>
    <th>URL</th>
   </tr>
  </thead>
  <tbody>
  {% for changelog in changelogs %}
   <tr>
    <td>{{ changelog.package_name }}</td>
    <td><a href="{{ changelog.changelog_url }}">{{ changelog.changelog_url }}</a></td>
   </tr>
  {% else %}
   <tr>
    <td colspan="2">Nothing added yet!</td>
   </tr>
  {% endfor %}
  </tbody>
 </table>

 <h2>Add a package</h2>

 <form action="/" method="POST">
  {{ form.csrf_token }}
  <label>{{ form.package_name.label }} {{ form.package_name }}</label>
  <label>{{ form.changelog_url.label }} {{ form.changelog_url }}</label>
  <button>Add</button>
 </form>

</body>
</html>
